main .contact-title {
  font-size: 40px;
  text-align: center;
  font-weight: medium;
  margin: 2% 0;
}

main .form-title {
  font-size: 36px;
  text-align: center;
  margin: 2% 0;
}

main .contact-form {
  width: 80%;
  margin: 0 auto;
  background-color: #FEEFDD;
}


main .radio-button {
  accent-color: #434343;
  inline-size: 30px;
  block-size: 30px;
}

main input::placeholder {
  color: #A3D29E;
  font-size: 20px;
}


main .required {
  color: #FF573C;
  font-size: 12px;
}