main .top-img {
  width: 100%;
  object-fit: cover;
}

main .trouble-title, main .strengths-title {
  font-size: 40px;
  font-weight: medium;
  margin-top: 2%;
  text-align: center;
}

main .swiper {
  width: 80%;
  margin: 2% auto;
}

main .swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
}

main .card {
  display: block;
  text-decoration: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}


main .card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  opacity: 1;
}

main .trouble-img {
  object-fit: cover;
  height: 170px;
  width: auto;
  display: block;
  margin: 0;
}

main .swiper-button-prev, main .swiper-button-next {
  color: #434343;
}

main .trouble-text {
  font-size: 20px;
  color: #FFF7EE;
  background-color: #00a24f;
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 2% 0;
}

main .contact-button {
  display: block;
  width: 20%;
  color: #00a24f;
  border: 3px solid #00a24f;
  border-radius: 16px;
  padding: 1% 2%;
  margin: 2% auto;
  text-align: center;
  text-decoration: none;
}

main .contact-button:hover {
  background-color: #00a24f;
  color: #FFF7EE;
}

main .strengths-content {
  width: 80%;
  background-color: #FCFCFC;
  display: flex;
  justify-content: space-around;
  margin: 2% auto;
  padding: 2% 0;
}

main .strengths-title {
  font-size: 40px;
  font-weight: bold;
}

main .strengths-item-title {
  color: #00a24f;
  font-size: 36px;
  font-weight: bold;
}

main .strengths-item {
  width: 24%;
  text-align: center;
  background-color: #FEEFDD;
  border: 1px solid #00a24f;
}

main .friend-icon, main .run-icon, main .skill-icon {
  margin-top: 8%;
}

main .strengths-text {
  margin: 2% 0 4% 0;
}