* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans JP";
}

h1 {
  font-size: 32px;
}

a,
p {
  font-size: 20px;
}

/* header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #00a24f;
}

header .site-title {
  display: flex;
  align-items: center;
}

header img {
  height: 55px;
  width: auto;
}

header .title-text a {
  font-size: 32px;
  color: #fff7ee;
  text-decoration: none;
  font-weight: normal;
}

header .global-nav ul {
  list-style: none;
  display: flex;
}

header .global-nav ul li {
  margin-left: 20px;
}

header .global-nav ul li a {
  font-size: 20px;
  color: #fff7ee;
  text-decoration: none;
}

header .global-nav ul li a:hover {
  color: #434343;
  text-decoration: underline;
}
