main {
  margin-top: 2%;
  margin-bottom: 5%;
}

main h1 {
  text-align: center;
}

.sub-nav-container {
  width: 80%;
  margin-bottom: 3%;
  margin: auto;
}
.sub-nav {
  width: 100%;
  margin-bottom: 3%;
  margin: auto;
}

.sub-nav ul {
  padding: 2% 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: auto;
}

.sub-nav ul li {
  width: 32%;
  padding: 1% 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  background-color: #00a24f;
}

.sub-nav ul li:hover {
  background-color: #008037;
}

.sub-nav ul li img {
  margin-right: 8px;
  object-fit: cover;
  vertical-align: middle;
}

.sub-nav ul li a {
  font-size: 36px;
  color: #fff7ee;
  text-decoration: none;
}

.sub-title {
  font-weight: normal;
  font-size: 36px;
  margin-bottom: 2%;
}

.work-contents {
  width: 80%;
  background-color: #feefdd;
  margin: 0 auto;
  border-radius: 2px;
}

.work-img {
  width: 259px;
  height: auto;
  object-fit: cover;
}

.img-container {
  display: flex;
  border-radius: 2px;
}

.img-container div p {
  background-color: #fcfcfc;
  font-size: 36px;
  text-align: center;
}

.after {
  color: #ff7d4a;
}

section {
  display: flex;
  padding: 2%;
  width: 90%;
  margin: auto;
  border-bottom: 2px solid #00a24f;
}

.work-info {
  width: 100%;
  margin: auto;
  margin-left: 5%;
}

.work-info li {
  list-style: none;
  margin-bottom: 2%;
}

.work-info span {
  font-weight: 500;
}

#work-last {
  border-bottom: none;
}

.phone {
  width: auto;
  height: 175px;
}

.contact-title {
  font-size: 40px;
  font-weight: medium;
  padding: 5%;
}

.contact-title span {
  color: #ee1c1c;
  font-weight: bold;
}

.contact-subtitle {
  font-weight: normal;
}

.contact-flow {
  width: 80%;
  margin: 5% auto;
}

.flow-title {
  text-align: center;
  margin-bottom: 3%;
}

.flow-title1 {
  font-size: 40px;
  font-weight: medium;
  margin-bottom: 2%;
}

.flow-title2 {
  font-size: 36px;
  font-weight: normal;
}

.flow-title2 span {
  font-weight: bold;
}

.step1 {
  display: flex;
  background-color: #fcfcfc;
  padding: 2%;
  border-radius: 2px;
  align-items: center;
  justify-content: space-around;
}

.step-text {
  font-size: 28px;
  margin: auto 2%;
  width: 50%;
}

.step-text h2 {
  font-size: 36px;
  font-weight: normal;
}

.step-text div {
  border-bottom: 2px solid #0051ff;
  border-bottom-style: dotted;
}

.step-text a {
  text-decoration: none;
}

.arrow {
  text-align: center;
}

.arrow img {
  width: 100px;
  height: auto;
  object-fit: cover;
}

main .contact-button {
  display: block;
  width: 25%;
  color: #00a24f;
  border: 3px solid #00a24f;
  border-radius: 16px;
  padding: 1% 2%;
  margin: 2% auto;
  text-align: center;
  text-decoration: none;
}

main .contact-button:hover {
  background-color: #00a24f;
  color: #fff7ee;
}
